{% raw %}
# {{name}} Table

````{panels} :column: col-4

**size**: {{n_rows}} × {{n_cols}}

---
:column: col-4

**updated**: {{update_date}}

---
:column: col-4 :body: text-center

<a href="{{csv_url}}">{badge}`download csv,badge-primary`</a>

````


{% endraw %}