{% raw %}
```{include} ../headers/{{slug}}.md
```


```{admonition} Description
A table describing {{n_rows}} {{entity}}s, with {{n_cols}} columns, created <a href="{{project_url}}">here</a>
```


## Exploration

```{tableofcontents}
```
{% endraw %}